DISCORD_TOKEN=# Your bot's Discord API token
APPLICATION_ID=# Your bot's Discord Application ID
DATABASE_URL=# postgresql://postgres:postgres@localhost:5432/postgres

STATUS= # The status on the bot shown next to the shard (this env var is optional)
SUGGESTIONS_URL=# Webhook url, on suggestion it will send a post request (this env var is optional)
DEV= # Enables developer-only commands. Boolean
DEVIDS=# List of user ID's that can run commands when in dev mode (optional)
KUMA_PUSH_URL=# Single push URL/multiple URLs in shard order (optional)
SHARD_COUNT=# Number of shards, if not provided it will use Discord's recommendation (optional)
LIMITS=# please keep this as false but if set to true it will enable limits and monetization (optional)
MODERATORS=# list of user ID's that are considered global moderators (optional but highly recommended if you want to moderate the bot for others)
